* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    height: 100vh;
}
h1 {
    background-color: #1b0033;
    color: #fff;
    line-height: 5rem; /*text centre  */
}


.choices {
    position: fixed;
    top: 50%;
    /* background: #000; */
    width: 40rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    transform: translateX(70%);
}

.choice {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #1b0033;
}
img {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 50%;
}



.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}
#msg {
    margin-top: 4rem;
    background-color: #1b0033;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

/* media queries (tablets) */
@media screen and (max-width: 1024px) {
    .choices{
        transform: translateX(10%);
    }
    
}